.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

.title {
  color: #0baf94;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 3px 3px #f90;
}

.divider {
  border-bottom: 4px solid rgba(255, 41, 41, .555);
  height: 1px;
  margin: 20px auto;
  width: 50%;
}
.main-content {
  display: flex;
  justify-content: center;
}

.gap {
  gap: 30px;
}

.avatar-wrapper {
  background-color: #fff;
  border: 15px solid #0baf94;
  border-radius: 40px;
  display: inline-block;
  padding: 50px;
  position: sticky;
  top: calc(50% - 205px);
}

.avatar-section {
  width: 260px;
	height: 280px;
	position: relative;
}

.item-section {
  max-width: 700px;
  text-align: center;
}

h2 {
  color: #a5510d;
}

.list {
  background-color: rgba(255, 166, 0, .4);
  border: 5px solid orange;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 10px 0;
  padding: 20px;
}

.square {
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .151);
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 50px;
}

.square:hover {
  cursor: pointer;
  transition-duration: .2s;
}

.selected {
  background-color: rgba(116, 116, 255, .315); 
}

.img-center {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.imageHeight1 {
  height: 60px;
}

.imageHeight2 {
  height: 150px;
  top: 35px;
}

.imageHeight3 {
  height: 120px;
  top: -15px;
}

.imageHeight4 {
  height: 120px;
  top: 50%;
}